* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* barra navegacion */
header {
  background-image: url(../../images/banner3.jpg);
  width: 100%;
  height: 50vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
header div.barrazul {
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: ease-in-out;
}
header div.barrazul i {
  color: #fcfcfc;
}
header .header-brand {
  width: 50%;
}
header nav.barra {
  background-color: rgba(68, 68, 68, 0.425);
  position: fixed;
  top: 0;
  padding-top: 2.5rem;
}
header nav.barra div.collapse .btn-group:hover {
  border-radius: 8px;
  background-color: rgba(68, 68, 68, 0.438);
}
header nav.barra div.collapse a:hover {
  border-radius: 8px;
  background-color: rgba(68, 68, 68, 0.438);
}
header nav.barra div.collapse .btn-drop {
  color: #fcfcfc;
}
header nav.barra div.collapse .drop-servicios {
  background-color: rgba(68, 68, 68, 0.425);
}
header nav.barra div.collapse .drop-servicios a:hover {
  background-color: rgba(68, 68, 68, 0.438);
}
header h2.titulo {
  position: absolute;
  top: 23%;
  left: 55%;
  font-size: 3rem;
  font-style: oblique;
  font-family: Arial, Helvetica, sans-serif;
  color: #fcfcfc;
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
  color: white;
  background-color: rgba(61, 117, 191, 0.377);
  padding: 0.7rem;
  border-radius: 8px;
}

/*FOOTER*/
footer a {
  color: #fcfcfc;
  text-decoration: none;
}
footer a i {
  color: #fcfcfc;
}
footer .footer-redes a:hover {
  transform: scale(1.5);
  transition: ease-in-out;
}

.link-active {
  border: white solid 0px;
  border-radius: 8px;
  background-color: rgba(68, 68, 68, 0.438);
  margin: 0px 2px;
}

/* servicios */
main {
  background: rgba(211, 213, 213, 0.5058823529);
  /* Asesorate */
  /* Haceme tu consulta */
}
main .main-servicios .globo {
  border: 2px solid rgba(221, 221, 221, 0.658);
  background-color: rgba(209, 211, 220, 0.5568627451);
  border-radius: 8px;
  box-shadow: 2px 2px 5px;
  transition: transform 0.5s;
  height: 32rem;
}
main .main-servicios .globo img {
  width: 20rem;
  border-radius: 8px;
  box-shadow: 2px 2px 5px;
}
main .main-servicios .globo p {
  text-align: justify;
}
main .main-servicios .globo:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 10px;
}
main .main-servicios .globo:hover img {
  border-radius: 8px;
  box-shadow: 3px 5px 10px;
}
main .carousel-item {
  height: 32rem;
  background-color: rgba(209, 211, 220, 0.5568627451);
}
main .carousel-item p {
  text-align: justify;
  padding: 0 2rem;
}
main .carousel-item .card-footer {
  bottom: 1%;
  left: 37%;
}
main .asesorate {
  padding: 140px 200px;
  color: #fcfcfc;
  background-image: url(../images/baner5.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 1px 3px rgb(0, 0, 0);
  /* padding: 140px 200px; */
  padding: 8% 10%;
}
main .asesorate h3 {
  padding-bottom: 15px;
  font-size: 30px;
  font-style: oblique;
}
main .asesorate a {
  color: #fcfcfc;
  text-decoration: none;
}
main .main-consulta {
  padding: 10rem 15rem;
}
main .form-main {
  padding: 1.5rem;
  border: 0.1rem solid rgba(141, 141, 141, 0.342);
  background-color: rgba(209, 211, 220, 0.5568627451);
  border-radius: 8px;
  box-shadow: 5px 5px 10px;
}
main .form-main input {
  border-radius: 3px;
  width: 50%;
  height: 1.6rem;
}

/* MEDIA QUERIES */
@media (max-width: 575.98px) {
  header {
    height: 35vh;
  }
  header h2.titulo {
    top: 17%;
    left: 0%;
    font-size: 2.5rem;
  }
}
@media (max-width: 767.98px) {
  main {
    padding: 0;
  }
  .footer-contact {
    display: grid;
  }
  .footer-redes {
    display: grid;
    row-gap: 20px;
    font-size: smaller;
  }
}
@media (max-width: 968px) {
  .header-azul-contacto {
    display: none;
  }
  .boton-hamburguesa {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
