/* barra navegación */
#index{
    width: 100%;
    height: 700px;
    background-image: url(../images/banner3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* barra navegacion */

.fondo{
    width: 100%;
    height: 50vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.barrazul{
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9999;
    transition: ease-in-out;
}
.barra{
    position: fixed;
    top: 0;
    width: 100%;
    padding-top: 40px;
}



/* servicios */
.servmain{
    color: rgb(75, 75, 75);
    background-color: rgba(218, 216, 196, 0.575);
    text-align: center;
    padding-top: 30px;
}
.servmain h2{
    font-size: 45px;
    border-bottom: 1px solid rgb(231, 231, 231);
}
.servmain h3{
    font-size: 25px;
    font-weight: bolder;
    padding: 10px;
}
.servmain a{
    color: #3d8af7;
    font-size: larger;
}
.listaserv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}
.globo{
    display: inline-block;
    align-items: center;
    margin: 30px;
    padding: 10px 9px 50px 9px;
    border: 2px solid rgba(221, 221, 221, 0.658);
    background-color: rgba(231, 223, 212, 0.719);
    border-radius: 8px;
    box-shadow: 5px 5px 10px;
}
.desc{
    display: inline-block;
    align-items: center;
    width: 400px;
}
.desc p{
    padding: 30px 0px;
}
.listaserv img{
    width: 450px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px;
}

/* Asesorate */
.asesorate{
    padding : 140px 200px;
    color: rgb(255, 255, 255);
    background-color: #3d8af7;
    background-image: url(../images/banner4.jpg); /*cambiar esta imagen*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(54, 54, 54, 0.3);
    text-shadow: 2px 1px 2px black;
}
.divasesor p{
    width: 50%;
    margin-bottom: 20px;
    text-align: justify;
    font-size: 20px;
}
.divasesor textarea{
    width: 50%;
    height: 150px;
    margin-bottom: 20px;
    border-radius: 8px;
    border-color: rgb(165, 165, 165);
}
.asesorate h3{
    padding-bottom: 15px;
    font-size: 30px;
    font-style: oblique;
}
.botoncontacto{
    background-color: rgb(61, 61, 61);
    border-color: rgb(165, 165, 165);
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bolder;
}
.botoncontacto:hover{
    background-color: rgb(124, 124, 124);
    color: black;
}
#comentario{
    padding: 10px 0px 0px 10px;
    color: rgb(151, 151, 151);
}

/* Haceme tu consulta */
.hacetuconsulta{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 300px 30px 200px;
    color: rgb(75, 75, 75);
    background-color: rgba(218, 216, 196, 0.575);
}
.divcanales{
    display: inline-block;
    align-items: center;
    padding: 180px 200px 0px 0px;
}
.divcanales h3{
    font-size: 28px;
    padding-bottom: 30px;
    color: rgb(97, 97, 97);
}
span{
    font-size: 33px;
}
.divform{
    margin: 30px;
    padding: 20px 30px;
    border: 2px solid rgba(221, 221, 221, 0.658);
    background-color: rgba(231, 223, 212, 0.719);
    border-radius: 8px;
    box-shadow: 5px 5px 10px;
}
.form input{
    margin: 6px 0px;
    border-radius: 3px;
    width: 200px;
    height: 25px;
}
#mensaje{
    padding: 10px 0px 0px 10px;
}
.divform textarea{
    border-radius: 10px;
    width: 400px;
    height: 110px;
    margin: 6px 0px;
}
.botoncontacto a{
    color: white;
    font-weight: bolder;
}
.botoncontacto:hover a{
    color: black;
}
.enviar{
    background-color: rgb(61, 61, 61);
    border-color: rgb(165, 165, 165);
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bolder;
}
.enviar:hover{
    background-color: rgb(124, 124, 124);
    color: black;
}

/* MEDIA QUERIES */

@media (max-width: 575.98px) { 

}

@media (max-width: 767.98px) { 
    .fondo{
        height: 30vh;
    }
    .footer-contact{
        display: grid;
    }
    .footer-redes{
        display: grid;
        row-gap: 20px;
        font-size: smaller;
    }
}

@media (max-width: 991.98px) {
    
}

@media (max-width: 1199.98px) {
    
}

@media (max-width: 1399.98px) {
    
}

