@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";

@include encabezados();
@include footer();


main {
    background-color: $color3;

    section {
        height: 22rem;

        .card-rotate {
            /* position: absolute; */
            width: 100%;
            height: 100%;
            perspective: 700px;
            margin: auto;

            .content-rotate {
                /* position: absolute; */
                width: 100%;
                height: 100%;
                box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
                transition: transform 1s;
                transform-style: preserve-3d;

                .front-rotate,
                .back-rotate {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    backface-visibility: hidden;

                    h3 {
                        /* font-size: 1.5rem; */
                        color: white;
                        text-align: center;
                        background-color: rgba(61, 117, 191, 0.377);
                        padding: 0.7rem;
                        margin-top: 4rem;
                        border-radius: 8px;
                    }
                }

                .back-rotate {
                    transform: rotateY(180deg);
                }
            }
        }

        .card-rotate:hover .content-rotate {
            transform: rotateY(180deg);
            transition: transform 0.8s;
        }
    }
    .card-mobile{
        border-radius: 8px;
        box-shadow: 2px 2px 5px;
        transition: transform .5s;
        background-color: $color2;
        width: $anchoNormal;
        height: auto;
        img{
            border-radius: 8px;
        }
    }
    .accordion-button{
        background-color: $color3;
    }
    .accordion-body{
        background-color: $color5;
    }
}


@import "./partials/queries";