@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";

@include encabezados();
@include footer();
header{
    background-image:url(../images/banner3.jpg);
    height: 35vh;
}
main{
    background-color: $color3;
    padding: 2rem;
}

@import "./partials/queries";