@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";

@include encabezados();
@include footer();

header {
    background-image: url(../images/banner3.jpeg)
}

main {
    background-color: $color3;
    .sobrimi-title {
        font-size: 160%;
    }
    
    .sobrimi-content p {
        text-align: justify;
    }
}

@import "./partials/queries";