@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";

@include encabezados();
@include footer();

header {
    background-image: url(../images/banner3.jpeg)
}

main {
    background-color: $color3;

    img {
        filter: grayscale(100%);
        transition: all .5s ease;
    }
    img:hover {
        filter: grayscale(0%);
    }
    .sobrimi-title {
        font-size: 160%;
    }

    .sobrimi-content p {
        text-align: justify;
    }
    .sobrimi-content p:hover {
        transform: scale(1.03);
        transition: transform 0.5s;
        background-color: rgba(68, 68, 68, 0.08);
        border-radius: 8px;
    }
}

@import "./partials/queries";