@import "partials/reset";
@import "partials/variables";
@import "partials/mixins";

@include encabezados();

/* servicios */
main{
    .main-servicios{
        .globo{
            border: 2px solid rgba(221, 221, 221, 0.658);
            background-color: rgba(231, 223, 212, 0.719);
            border-radius: 8px;
            box-shadow: 5px 5px 10px;
    
            img{    
                width: 20rem;
                border-radius: 8px;
                box-shadow: 5px 5px 10px;
            }
        }
    }
    /* Asesorate */
    .asesorate{
        padding : 140px 200px;
        color: rgb(255, 255, 255);
        background-image: url(../images/banner4.jpg); /*cambiar esta imagen*/
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-shadow: 2px 1px 3px rgb(0, 0, 0);
        
        h3{
            padding-bottom: 15px;
            font-size: $fontSizeMediana;
            font-style: oblique;
        }
    }

    /* Haceme tu consulta */
    .main-consulta{
        padding : 10rem 15rem;
    }
    
    .form-main{
        padding: 1.5rem;
        border: 0.1rem solid rgba(141, 141, 141, 0.342);
        background-color: rgba(236, 235, 233, 0.719);
        border-radius: 8px;
        box-shadow: 5px 5px 10px;

        input{
            border-radius: 3px;
            width: 50%;
            height: 1.6rem;
        }
    }
}


// @import "./partials/bucles"
@import "./partials/queries";