// VARIABLES

// FUENTE
$fontSizeGrande: 50px;
$fontSizeMediana: 30px;
$fontSizeChica: 20px;
$fontSizeNormal: 1.4rem;

// TAMAÑO
$anchoMax: 100%;
$anchoMed: 50%;
$anchoNormal: 18rem;
$altoNormal: 32rem;

// COLOR
$colorBlanco: #fcfcfc;
$color1: #d5d8c7bd;
$color2: #d4d6ce80;
$color3: #d3d5d581;
$color4: #d1d3dc8e;
$color5: #d0d2e3;
$color6: #d0d2e3;
